* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:white;
  line-height: 1.5;
}

p {
  text-align: center;
}

header {
  background-color:	#FAE7E9;
  color: white;
  height: 150px;
}

header li {
  list-style-type: none;
  display: inline;
  color: white;
  /* float: left; */
}

.headerlogo {
  width:100px;
}

.logo {
  display:block;
  width:300px;
  padding-top: 30px;
}

.icon {
  display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #D1142F; */
    width:90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -17px;
}

li {
    float: right;
}

li a {
    display: block;
    font-weight: bold;
    color: #D1142F;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    border: solid transparent;
    font-size: 18px;
}

li a:hover {
  border-style: solid;
  border-color: #D1142F;
}

.bounce {
  float:right;
  position: fixed;
  display:block;
  border: none;
  color:white;
  font-size: 20px;
  padding:10px 10px;
  background-color: #D1142F;
  cursor: pointer;
}

.title {
  padding-top:100px;
  text-align:center;
  color: #D1142F;
  font-size: 28px;
  padding-bottom: 10px;
}

.button {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  color:white;
  background-color: #D1142F;
  padding:15px 30px;
  font-size: 20px;
  radius:5px;
  cursor: pointer;
}

.button:hover {
   box-shadow: 0 10px 14px 0 darkgrey,0 10px 30px 0 darkgrey;
}

.organisers {
  position:relative;
  height:auto;
  top:30px;
  /* left:calc(20%); */
  /* animation-name: move;
  animation-duration: 2s; */
  transition-property: top;
  transition-duration: 2s;
  /* display:inline; */
  /* margin-left: auto;
  margin-right: auto; */
}

.organiserNames {
  display: inline;
  margin-right: 10px;
}

.organisers img {
  /* display:inline-block; */
  /* margin-left: auto;
  margin-right: auto; */
    /* left:calc(30%); */
  /* position:relative; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}

/* @keyframes move {
  from {top:0px;}
  to {top:-5px;}
} */

.test {
  margin: auto;
      width: 50%;
      padding: 10px;
}

.clip:hover {
  top:-5px;
  /* transition-duration: 2s;
 */

}


.clip {
  display:inline-block;
  position: relative;
  width: 180px;
  height: 150px;
  background-color: #D1142F;
  box-sizing: border-box;

  clip-path:polygon(83% 12%, 100% 40%, 67% 93%, 33% 40%, 50% 12%);
}

.clip img {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 116px;
    height: 117px;
    clip-path:polygon(83% 12%, 100% 40%, 67% 93%, 33% 40%, 50% 12%);
}

.footer,
.push {
  height: 50px;
}

footer {
    /* position: absolute; */
    /* bottom: 0px; */
    margin: 0;
    padding: 0;
    background-color: #D1142F;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    /* left:calc(5%); */
}

.cleversteam {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:80px;
}

footer a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border: solid transparent;
}

.icons {
  display:inline;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 5px; */
}

.slack {
  height:70px;
  width:70px;
  float: right;
}

.twitter {
  height:35px;
  width:35px;
  float: left;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  background-color: black;

}
