* {
  margin: 0;
  padding: 0; }

html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  line-height: 1.5; }
  html .wrapper header {
    background-color: #FAE7E9;
    color: white;
    height: 150px;
    width: 100%; }
    html .wrapper header .parent {
      display: flex;
      align-items: center;
      width: 100%; }
      html .wrapper header .parent .logo {
        display: block;
        width: 300px;
        padding-top: 30px;
        width: 100%; }
      html .wrapper header .parent .parent1 {
        display: flex;
        align-items: center;
        width: 100%; }
        html .wrapper header .parent .parent1 .cell {
          flex: 0 0 auto;
          box-sizing: border-box;
          width: 100%; }
          html .wrapper header .parent .parent1 .cell ul {
            margin: 0;
            padding: 0;
            overflow: hidden;
            /* background-color: #D1142F; */
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: -17px; }
            html .wrapper header .parent .parent1 .cell ul .topnav li {
              float: right;
              list-style: none; }
              html .wrapper header .parent .parent1 .cell ul .topnav li a {
                display: block;
                font-weight: bold;
                color: #D1142F;
                text-align: center;
                padding: 10px 14px;
                text-decoration: none;
                border: solid transparent;
                font-size: 18px; }
              html .wrapper header .parent .parent1 .cell ul .topnav li a:hover {
                border-style: solid;
                border-color: #D1142F; }
          @media (max-width: 640px) {
            html .wrapper header .parent .parent1 .cell ul {
              display: none; } }
  @media (max-width: 640px) {
    html .wrapper header {
      height: auto; } }
  html .wrapper .bounce {
    float: right;
    position: fixed;
    display: block;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #D1142F;
    cursor: pointer; }
  html .wrapper .parent2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap; }
    html .wrapper .parent2 .cell {
      flex: 0 0 auto;
      box-sizing: border-box;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-right: 60px; }
      html .wrapper .parent2 .cell .title {
        padding-top: 100px;
        text-align: center;
        color: #D1142F;
        font-size: 28px;
        padding-bottom: 10px; }
      html .wrapper .parent2 .cell p {
        text-align: center; }
  html .wrapper .parent3 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap; }
    html .wrapper .parent3 .cell {
      flex: 0 0 auto;
      box-sizing: border-box;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-right: 28px;
      width: 90%; }
      html .wrapper .parent3 .cell .title {
        padding-top: 100px;
        text-align: center;
        color: #D1142F;
        font-size: 28px;
        padding-bottom: 10px; }
      html .wrapper .parent3 .cell p {
        text-align: center;
        width: 100%; }
      html .wrapper .parent3 .cell .button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: none;
        color: white;
        background-color: #D1142F;
        padding: 15px 30px;
        font-size: 20px;
        radius: 5px;
        cursor: pointer; }
      html .wrapper .parent3 .cell .button:hover {
        box-shadow: 0 10px 14px 0 darkgrey,0 10px 30px 0 darkgrey; }
  html .wrapper .parent4 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap; }
    html .wrapper .parent4 .cell {
      flex: 0 0 auto;
      box-sizing: border-box;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
      html .wrapper .parent4 .cell .title {
        padding-top: 100px;
        text-align: center;
        color: #D1142F;
        font-size: 28px;
        padding-bottom: 10px; }
  html .wrapper .parent5 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap; }
    html .wrapper .parent5 .organisers {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      top: 30px;
      transition-property: top;
      transition-duration: 2s;
      padding-right: 50px; }
      html .wrapper .parent5 .organisers .test {
        margin: auto;
        width: 50%;
        padding: 10px;
        display: inline; }
        html .wrapper .parent5 .organisers .test .clip {
          display: inline-block;
          position: relative;
          width: 180px;
          height: 150px;
          background-color: #D1142F;
          box-sizing: border-box;
          clip-path: polygon(83% 12%, 100% 40%, 67% 93%, 33% 40%, 50% 12%); }
          html .wrapper .parent5 .organisers .test .clip .cell {
            flex: 0 0 auto;
            box-sizing: border-box;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%; }
            html .wrapper .parent5 .organisers .test .clip .cell img {
              position: absolute;
              top: 5px;
              left: 10px;
              width: 116px;
              height: 117px;
              clip-path: polygon(83% 12%, 100% 40%, 67% 93%, 33% 40%, 50% 12%);
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 50px; }
        html .wrapper .parent5 .organisers .test .clip:hover {
          top: -5px; }
  html .wrapper .push {
    height: 50px; }
  html footer {
    margin: 0;
    padding: 0;
    background-color: #D1142F;
    width: 100%; }
    html footer div a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
      border: solid transparent; }
      html footer div a .cleversteam {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        width: auto; }
    html footer .parent6 {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap; }
      html footer .parent6 .cell {
        flex: 0 0 auto;
        box-sizing: border-box;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 48%; }
        html footer .parent6 .cell .icons {
          display: inline;
          margin-left: auto;
          margin-right: auto; }
          html footer .parent6 .cell .icons a {
            display: block;
            color: white;
            text-align: center;
            text-decoration: none;
            border: solid transparent; }
            html footer .parent6 .cell .icons a .slack {
              height: 70px;
              width: 70px;
              float: right;
              position: relative;
              top: -15px; }
    html footer .cell {
      flex: 0 0 auto;
      box-sizing: border-box;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      html footer .cell a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        border: solid transparent; }
        html footer .cell a .twitter {
          height: 35px;
          width: 35px;
          float: left; }
